body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 100vh;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: rem; */
        
   
}
.button{
height: 100px;
width: 100px;
border-radius: 10px;
background-color: #ffffff;
color: black;
}