body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(t1.png);
    height: 100vh;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: none; */
        
   
}
.button{
height: 100px;
width: 100px;
border-radius: 10px;
font-size: 40px;
font-weight: bold;
opacity: 0.8; /* 60% visible */

    /* background-image: url(t.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff; */
color: black;

}
.reset{
    background-color: red;
    color: white;
    margin-left: 120px;
    margin-top: 20px;
}
.restart{
    background-color: green;
    color: white;
    margin-left: 120px;
    margin-bottom: 20px;
}